$my-primary-color: #686DE0;
$my-secondary-color: #C7C9FF;
$my-tertiary-color: #130F40;
$my-complement-color: #55EFC4;
$my-complement-2-color: #FFCF24;
$my-red-color: #FF2424;
$my-orange-color: #FF7E24;
$my-white-color: #E8E8F3;
$my-black-color: #090909;
$my-gray-color: #292929;

$my-padding-sections: 1rem;